<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.CartMapper">

	<!-- 장바구니 저장 -->
	<insert id="cartAdd" parameterType="CartDTO">
		insert into cart (userid, gCode, gAmount)
		values (#{userid}, #{gCode}, #{gAmount} )
	</insert>

	<!-- 장바구니 목록 보기 resultMap -->
	<!-- 조인 -->
	<resultMap type="CartDTO" id="yyy">
		<id property="num" column="num" />
		<result property="userid" column="userid" />
		<result property="gCode" column="gCode" />
		<result property="gAmount" column="gAmount" />
		<result property="gCartDate" column="gCartDate" />

		<!-- 1:N -->
		<collection property="goodsList" ofType="java.util.Map">
			<id property="gCode" column="gCode" />
			<result property="gCategory" column="gCategory" />
			<result property="gName" column="gName" />
			<result property="gPrice" column="gPrice" />
			<result property="gImage" column="gImage" />
			<result property="gStock" column="gStock" />
		</collection>
	</resultMap>

	<!-- 장바구니 목록 보기 -->
	<select id="cartList" parameterType="string" resultMap="yyy">
		select *
		from cart join goods on cart.gCode = goods.gCode
		where userid=#{userid}
	</select>
	
	<!-- 장바구니 상품 삭제 -->
	<delete id="deleteCart" parameterType="CartDTO">
		delete from cart
		where num=#{num}
	</delete>

</mapper>